
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap&family=Sintony&display=swap,wght@0,400;0,700;1,400&display=swap');
/* https://coolors.co/3781a2-e7c24f-a43312-381d2a-aabd8c*/
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #144b85  ;
  --secondary-color: #1e81cc ;
  --accent1-color: #5a93aa;
  --accent2-color: #381d2a;
   
  /* change the values below to your chosen font(s) */
  --heading-font: "Carter One";
  --paragraph-font: Sintony, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #144b85;  /* headlines on a white background */ 
  --headline-color-on-color: #d7eaee; /* headlines on a colored background */ 
  --paragraph-color-on-white: #144b85; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #d7eaee; /* paragraph text on a colored background */ 
  --paragraph-background-color: #144b85 ;
  --nav-link-color: #144b85;
  --nav-background-color: #5a93aa;
  --backgroud-color: ##eff0f1;


  --nav-hover-link-color: #d7eaee;
  --nav-hover-background-color: #144b85;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  background-color: var(--backgroud-color);
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}


.img_about {
  filter:alpha(opacity=80);
  opacity: 0.90;
  float: left;
  width: 100px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 40px;
  border: 2px solid transparent;
  shape-outside: circle(55%);
  
}

footer {

  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);    
  font-size: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6%; 
  text-align: center;
}