/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */ 

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Malayalam&family=Sintony&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');


 
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #964B00   ;
  --secondary-color: #F5F5DC ;
  --accent1-color: #CC7722;
  --accent2-color: #E2725B;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Noto Serif Malayalam', serif;
  --paragraph-font: 'Sintony', sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #964B00;  /* headlines on a white background */ 
  --headline-color-on-color: var(--secondary-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: #964B00; /* paragraph text on a white background */ 
  --paragraph-color-on-color: var(--secondary-color);; /* paragraph text on a colored background */ 
  --paragraph-background-color: #964B00  ;
  --nav-link-color: #964B00;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: var(--accent2-color);
  --nav-hover-background-color: var(--secondary-color);

  --background-footer-color: var( --accent2-color);
  --paragraph-footer-color: white;
  --MAX-WIDTH:1200px;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: var(--MAX-WIDTH);/*1200px;*/
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  width: 400px;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

.logo {
  width: 80px;
  padding: 0px;
  display: block;
  padding-top: 5px;
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

.logo_especias {
    border-radius: 50%;
    width: 150px;
}
.main-header {
  display: grid;
  grid-template-columns: 150px auto;
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}

.wireframes-images,
.img-main ,
.img-page2 ,
.img-page3   {
    width: 400px;
    
    margin:10px;
  
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}

.wireframes-images  {
    width: 100%;
    
    margin:10px;
  
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}
  

#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  /* make this element invisible until we are ready for it */
  display: none;      
}
.moveDown {
  margin-top: 3em;
}


#img-contactus-without-box ,
#img-contactus-in-box {
  margin-bottom: 20px;
  width: 100%;
  display: block;
  align-items: center;
}

 
/*  form contact us         */
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}



/*
#######page detail###################################################
*/
.page-detail-img {
  width: 100%;
}

/* 
################## Main page ##################
 */
  

/* Section 1*/

.wrap_one {
  max-width: 100%;
  padding: 20px;
}

.grid-container_one {
  display: grid;
  grid-template-columns: 50% 50%; /* Dos columnas de igual tamaño */
  grid-template-rows: 1fr; /* Una fila */
  gap: 20px; /* Espacio entre columnas */
}

.text-column_one {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 /*
.wrap_one h2 {
  font-size: 1.1em;

 }*/
 body p {
  font-size: 1em; 
  text-align: justify;
 }

.image-column_one {
  grid-column: 2/3;
  grid-row: 1/2;
   
  display: flex;
  justify-content: center;
  align-items:center;
}

 
.img-container_one {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* Mantiene la proporción de aspecto 1:1 */
  overflow: hidden;
  max-width: 100%; /* Limita el ancho máximo del contenedor */
}


.img-container_one img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
}



.img_main_page_one {
  object-fit: contain;
  max-width: 500px;
  height: 100%;
  width: 100%; /* Ocupa todo el ancho disponible */
}





/*  section 3 */

.wrap_three {
  max-width: 100%;
  padding: 20px;
}

.grid-container_three {
  display: grid;
  grid-template-columns: 50% 50%; /* Dos columnas de igual tamaño */
  grid-template-rows: 1fr; /* Una fila */
  gap: 20px; /* Espacio entre columnas */
}

.text-column_three {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 

.image-column_three {
  grid-column: 2/3;
  grid-row: 1/2;
   
  display: flex;
  justify-content: center;
  align-items:center;
}

 
.img-container_three {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* Mantiene la proporción de aspecto 1:1 */
  overflow: hidden;
  max-width: 100%; /* Limita el ancho máximo del contenedor */
}


.img-container_three img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
}



.img_main_page_three {
  object-fit: contain;
  max-width: 500px;
  height: 100%;
  width: 100%; /* Ocupa todo el ancho disponible */
}




.img_main_page_one,
.img_main_page_three {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}


.img_main_page_one:hover,
.img_main_page_three:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el cursor por encima */
  transition: transform 0.3s ease; /* Transición suave de 0.3 segundos */
}


/* Footer section   */


footer  {
  color: var(--paragraph-footer-color);
  background-color: var(--background-footer-color);
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: var(--paragraph-footer-color);
  background-color: var(--background-footer-color);
 
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  
}

footer p {
  font-size: 1.05em;
  color: var(--paragraph-footer-color);
  background-color: var(--background-footer-color);
  
}    

footer p a:hover {
  text-decoration: underline;
  background-color: var(--nav-hover-background-color);
}    
    
footer .social {
  display: flex; /* Crea un contenedor flexible */
  gap: 10px; /* Establece un espacio de 10px entre los elementos */
}

.social a {
  display: inline-block; /* Permite que los elementos de enlace se muestren en línea */
}

footer .social img {
  padding-top: 15px;
  background-color: var(--background-footer-color);
  

}
